<footer class="mt-8 bg-gray-200 dark:bg-gray-900 py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm py-2 text-right">
    Powered by <a href="https://www.11ty.dev/" class="simple-link" >eleventy</a>
    and 
    <a href="https://www.belter.io/eleventy-search/" class="simple-link" >elasticlunr</a>
    </p>
  </div>
</footer>
