<header class="header">
    <ul class="main-nav" style="display: flex; align-items: center;">
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/feed.xml">
            <img src="/assets/img/rss.svg" alt="RSS Feed" style="width: 1.2em; height: 1.2em;" >
        </a></li>
    </ul>
</header>
<br>
