<header class="header">
    <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</header>
<br>
