---
layout: main
---

{% block head %}
  <link rel="stylesheet" href="{{ '/assets/styles/archive.css' | url }}">
{% endblock %}

<p class="text-5xl md:text-6xl font-black py-10 md:py-20 leading-tight">
 {{ title }}
</p>
  
{% include "nav.liquid" %}

{{ content | safe }}
