.header-anchor {
  text-decoration: none!important;
}

h1 > a.header-anchor {
  font-weight: 800;
}

h2 > a.header-anchor {
  font-weight: 700;
}

a.simple-link:hover {
  font-size:150%;
}
a.simple-link {
  color:#008000;
}

figcaption {
  font-style: italic;
  font-align: center;
}
