---
layout: default
title: Scrolls
permalink: /blogs/
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---

<div class="flex" style="flex-direction: row;">
    <div>
{% block head %}
  <link rel="stylesheet" href="{{ '/assets/styles/archive.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/external.css' | url }}">
    <!-- <link rel="stylesheet" href="{{ '/assets/styles/materialize.min.css' | url }}" media="screen,projection"> -->
      <!--Import Google Icon Font-->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
{% endblock %}

    <div class="field">
      <input type="search" placeholder="blog title or tags" id="searchField" style="box-shadow: 0 0 5px rgba(0,0,0,0.1); border-radius: 5px; border: 1px solid #ccc;">
    </div>
    <ol id="searchResults"></ol>
    <div id="noResultsFound" style="display: none">
      <p>No results found.</p>
    </div>
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
    ></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <br>
      <ul>
        {% for post in posts %}
          {% if post.data.published %}
          <!-- <li><a href="{{ post.url }}">{{ post.data.title }}</a></li> -->
          <li>
            <a href="{{ post.url | url }}" class="postlist-link">
              {% if post.data.title %}
                {{ post.data.title }}
              {% else %}
                <code>{{ post.url }}</code>
              {% endif %}
            </a>
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            {% for tag in post.data.tags %}
              {% if tag != "posts" %}
                {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
              {% endif %}
            {% endfor %}
          </li>
          {% endif %}
        {% endfor %}
      </url>
      <br>
        <p>
          {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">Previous</a>
          {% else %}
            Previous
          {% endif %}
          /
          {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Next</a>
          {% else %}
            Next
          {% endif %}
        </p>
    </div>

    <div>
        <div style="display: flex; flex-wrap: wrap; flex-direction: row; width: 250px">
        {% for tag in collections.tagList %}
            <a href="/tags/{{ tag }}"><button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold border border-gray-400 rounded shadow" style="margin: .25em; padding: .25em">
                {{ tag }}
            </button>
            </a>
        {% endfor %}
        </div>
    </div>
</div>
